.button {
    background-color: $button-bg;
    border:none;
    color:$button-color;
    cursor: pointer;
    font-size:$base-fontsize;
    line-height: 1.2rem;
    margin-bottom:1.4rem;
    padding: $input-spacing;    
    text-transform: uppercase;     
}

.button__link {
    display: inline-block;
    text-decoration: none;
}


.button--pill {
    background-color: transparent;
    border:1px solid $button-pill-color;
    color:$button-pill-color;
    margin:0 ($space/2) 0 0;
    padding: 0.3rem 0.8rem;
}

.button--secondary {
    background-color: $button-secondary-bg;
    border:1px solid $button-pill-color;
    color:$button-pill-color; 
}

.button_link-text {
    font-size: $button-header-fontsize;
    margin-bottom:0;
    text-transform:capitalize;
    text-decoration: underline;
}